@model LabWork_59_Nyssanov_Yernar.ViewModel.Post.FeedViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="relative">
		<div class="feed">
			<div class="feed-page">
				<div class="absolute">
					<div class="right-feed">
						<div class="user-bio">
							<img src="@Model.meUser.PathToFile" alt="Profile photo" class="user-profile-photo">
							<div class="user-bio-textbox">
								<div class="bio-username"><a asp-action="About" asp-route-userId="@Model.meUser.Id">@Model.meUser.UserName</a></div>
								<div class="bio-fullname">@Model.meUser.RealName</div>
							</div>
						</div>
						<div class="suggestions">
							<div class="suggestions-yours">Suggestions For You</div>
							<div class="suggestions-all">See All</div>
						</div>
						
						@foreach (var user in Model.UsersAll)
						{
							<div class="suggested-users">
								<div class="user-tab">
									<img src="@user.PathToFile" alt="Profile photo" class="user-profile-photo">
									<div class="user-tab-info">
										<div class="user-tab-username"><a asp-action="About" asp-route-userId="@user.Id">@user.UserName</a></div>
										<div class="user-tab-bio">New to Instagram</div>
									</div>
									<div class="user-tab-follow"><a asp-action="Follow" asp-route-followUserId="@user.Id">Follow</a></div>
								</div>
							</div>
						}
						<div class="footer">
							<div class="footer-nav">
								<li>About</li>
								<li> ∙ </li>
								<li>Help</li>
								<li> ∙ </li>
								<li>Press</li>
								<li> ∙ </li>
								<li>API</li>
								<li> ∙ </li>
								<li>Jobs</li>
								<li> ∙ </li>
								<li>Privacy</li>
								<li> ∙ </li>
								<li>Terms</li>
								<li> ∙ </li>
								<li>Locations</li>
								<li> ∙ </li>
								<li>Top Accounts</li>
								<li> ∙ </li>
								<li>Hashtags</li>
								<li> ∙ </li>
								<li>Language</li>
							</div>
							<div class="footer-copyright">© Theme inspred by <a href="https://www.instagram.com/">IG</a> made by <a href="https://github.com/ivenuss">venus</a></div>
						</div>
					</div>
				</div>
			</div>

			<div class="posting">
				@foreach (var followList in Model.Follows)
				{
					@foreach (var followPost in followList.FollowerUser.Posts)
					{
						<div class="post">
							<div class="post-header">
								<img src="@followPost.User!.PathToFile" alt="Profile photo">
								<a asp-action="About" class="post-header-author user text-decoration-none" asp-route-userId="@followPost.User.Id">@followPost.User.UserName</a>
							</div>
							<div class="post-image">
								<img src="@followPost.ImagePath" alt="Profile photo">
							</div>
							<div class="post-footer">
								<div class="post-footer-icons">
									<a href="#">
										<form asp-action="Like" method="post" enctype="multipart/form-data">
											<button type="submit">Лайкнуть</button>
											<input type="hidden" asp-for="Post.User.Id" value="@followPost.User.Id">
											<input type="hidden" asp-for="Post.Id" value="@followPost.Id">
										</form>
									</a>
									<a href="#">
										<svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path></svg>
									</a>

								</div>
								<div class="post-footer-likes">
									<button><span>@followPost.Likes.Count</span> likes</button>
								</div>
								<div class="description-and-comments" id="DesComment">
									<div class="post-footer-description">
										<a href="#" class="post-footer-description-author user">@followPost.User.UserName</a>
										<span>@followPost.Description</span>
									</div>
									<div class="comments">
										@foreach (var comment in @followPost.Comments)
										{
											<div class="comment-post">
												<a href="#" class="comment-author user">@comment.User.UserName</a>
												&nbsp;
												<span class="comment-text">@comment.Description</span>
											</div>
										}
									</div>
								</div>
								<div class="post-footer-relase"><a href="#">@(DateTime.Now.Day - followPost.CreatedDate.Day) days ago</a></div>
								<div class="post-footer-add-comment">
									<form id="comment" method="post" asp-action="LeaveAComment" enctype="multipart/form-data">
										<textarea aria-label="Add a comment…" placeholder="Add a comment…" class="post-footer-comment-input" asp-for="Comment"></textarea>
										<button type="submit">Post</button>
										<input type="hidden" asp-for="Post.Id" value="@followPost.Id"/>
										<input type="hidden" asp-for="Post.User.Id" value="@followPost.User.Id">
									</form>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</div>